<% include ../partials/header %>

<div class = "ui inverted grey vertical masthead center aligned segment">
     <div class = "ui text container">
          <br>
          <h1 class = "ui inverted header">Library App</h1>
          <div class = "ui horizontal divider"><i class = "circular big inverted grey book icon"></i></div>
          <h3 class = "ui inverted header">Create a new book.</h3>
          <a href="/books/"><div class="ui animated button" tabindex="0">
                 <div class="visible content">Back</div>
                 <div class="hidden content">
                   <i class="chevron circle left icon"></i>
                 </div>
               </div>
          </a>
          <br>
          <br>
     </div>
     
</div>

<br>
<div class = "ui container">
     <form class = "ui large form" action="/books" method="POST">
     
          <div class = "required field">
               <label>Title</label>
               <input type = "text" placeholder = "book title" name = "title" required autofocus>
          </div>
          
          <div class = "fields">
               <div class = "eight wide required field">
                    <label>Author's First Name</label>
                    <input type = "text" placeholder = "author first name" name = "first" required>
               </div>
               
               <div class = "eight wide required field">
                    <label>Author's Last Name</label>
                    <input type = "text" placeholder = "author last name" name = "last" required>
               </div>
          </div>
          
          <div class = "fields">
               <div class = "six wide field">
                    <label>ISBN</label>
                    <input type = "text" placeholder = "10 or 13 digit numerical value" name = "isbn">
               </div>
               
               <div class = "four wide field">
                    <label>No. in Series<i class="help icon popup" data-content="Leave blank if not part of a series."></i></label>
                    <input type = "text" placeholder = "series number" name = num pattern="[0-9-]{1,3}">
               </div>
               
               <div class = "six wide field">
                    <label>Genre</label>
                    <input type = "text" placeholder = "genre" name = "genre">
                    
                    <!--<div class="ui simple dropdown">-->
                    <!--     <input type="hidden" name="genre">-->
                    <!--     <i class="dropdown icon"></i>-->
                    <!--     <div class="default text">genre</div>-->
                    <!--     <div class="menu">-->
                    <!--          <div class="item" data-value="autobio">Autobiography</div>-->
                    <!--          <div class="item" data-value="bio">Biography</div>-->
                    <!--          <div class="item" data-value="crime">Crime</div>-->
                    <!--          <div class="item" data-value="essay">Essay</div>-->
                    <!--          <div class="item" data-value="fantasy">Fantasy</div>-->
                    <!--          <div class="item" data-value="folklore">Folklore</div>-->
                    <!--          <div class="item" data-value="historical">Historical Fiction</div>-->
                    <!--          <div class="item" data-value="horror">Horror</div>-->
                    <!--          <div class="item" data-value="humor">Humor</div>-->
                    <!--          <div class="item" data-value="magical realism">Magical Realism</div>-->
                    <!--          <div class="item" data-value="manual">Manual</div>-->
                    <!--          <div class="item" data-value="memoir">Memoir</div>-->
                    <!--          <div class="item" data-value="meta">Meta fiction</div>-->
                    <!--          <div class="item" data-value="mystery">Mystery</div>-->
                    <!--          <div class="item" data-value="mythology">Mythology</div>-->
                    <!--          <div class="item" data-value="narrative">Narrative Nonfiction</div>-->
                    <!--          <div class="item" data-value="realistic">Realistic Fiction</div>-->
                    <!--          <div class="item" data-value="reference">Reference Book</div>-->
                    <!--          <div class="item" data-value="self help">Self-Help Book</div>-->
                    <!--          <div class="item" data-value="short">Short Story</div>-->
                    <!--          <div class="item" data-value="thriller">Suspense/Thriller</div>-->
                    <!--          <div class="item" data-value="textbook">Textbook</div>-->
                    <!--          <div class="item" data-value="western">Western</div>-->
                    <!--     </div>-->
                    <!--</div>-->
               </div>
               
          </div>
          
          <div class = "fields">
               <div class = "fourteen wide field">
                    <label>Image URL</label>
                    <input type = "text" placeholder = "book image url" name = "url">
               </div>
               
               <div class = "two wide field">
                    <div class = "ui checkbox">
                         <label>Read</label>
                    </div>
               </div>
          </div>
          
          <button class="ui green button" type="submit">Submit</button>
     
     </form>

</div>

<% include ../partials/footer %>