<br>
     <div class="ui disabled header center aligned"><h5>Created by Gabrielle Michaels</h5></div>
     <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
     <script src="/semantic/dist/semantic.js"></script>
     <script>
          $('.ui.dropdown').dropdown();
          $('.popup').popup();
     </script>
    </body>
</html>